{{ $code := .Inner | strings.TrimSpace }}
{{ $id := printf "cell-%s-%d" .Page.File.UniqueID .Ordinal }}
<div class="julia-cell" id="{{ $id }}">
  <div class="julia-cell-toolbar">
    <span class="julia-badge">Julia {{ $.Page.Params.julia_version | default $.Site.Params.juliaVersion }}</span>
    <button class="run-btn">&#9654; Run</button>
    <button class="reset-btn">Reset</button>
  </div>
  {{/* Single editable panel: a transparent textarea overlaid on a
       syntax-highlighted <pre>, kept in sync by runner.js. */}}
  <div class="julia-code">
    <pre class="julia-highlight" aria-hidden="true"><code class="language-julia">{{ $code }}</code></pre>
    <textarea class="julia-editor" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off">{{ $code }}</textarea>
  </div>
  <div class="julia-output" hidden>
    <pre class="stdout"></pre>
    <pre class="stderr"></pre>
    <div class="plot-output" hidden>
      <img class="plot-img" alt="plot output" />
    </div>
  </div>
</div>
