{{ $code := .Inner | strings.TrimSpace }}
{{ $id := printf "cell-%s-%d" .Page.File.UniqueID .Ordinal }}
<div class="julia-cell" id="{{ $id }}">
  <div class="julia-cell-toolbar">
    <span class="julia-badge">Julia {{ $.Page.Params.julia_version | default $.Site.Params.juliaVersion }}</span>
    <button class="run-btn">&#9654; Run</button>
    <button class="edit-btn">&#9998; Edit</button>
    <button class="reset-btn">Reset</button>
  </div>
  {{/* Highlighted read-only view */}}
  <div class="julia-view">
    <pre><code class="language-julia">{{ $code }}</code></pre>
  </div>
  {{/* Plain textarea shown when editing */}}
  <textarea class="julia-editor" hidden spellcheck="false">{{ $code }}</textarea>
  <div class="julia-output" hidden>
    <pre class="stdout"></pre>
    <pre class="stderr"></pre>
  </div>
</div>
